---
---

@import "{{ site.theme }}";

table {
  width: 100% !important;
  display: table !important;
  background-color: transparent !important;
  border: 2px solid #00cc66 !important;
  border-radius: 10px;
  border-collapse: separate !important;
  border-spacing: 0;
  margin-bottom: 24px;
}

td {
  background-color: transparent !important;
  border: none !important;
  padding: 16px !important;
}
